body {
    margin: 0 auto;
    overflow: scroll;
    text-align: center;
    width: 100%;
}

body, section, header, nav, h1, h2, p, pre, code, ul, li, a{
    font-family: monospace, monospace;
    font-size:1em!important;
}

h1, h2 { display: none; }

p {
    text-align: center;
    padding: 0;
}

pre { text-align: left; }

section, header, nav {
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

section pre {
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

section pre.w500 { width: 500px; }
section pre.w700 { width: 700px; }
section pre.w800 { width: 800px; }
section pre.w900 { width: 900px; }

header pre {
    text-align: center;
    font-weight: 900;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header p {
    color: rgba(0,0,0,0.76);
    padding: 0 13rem;
}

.content-title, .content-footer {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}

nav ul { text-align: center; }

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li::before {
    color: rgba(0,0,0, 0.5);
    content: " .oO "
}

nav ul li::after {
    color: rgba(0,0,0, 0.5);
    content: " Oo. "
}

nav ul li.active::before {
    color: rgba(0,0,0, 0.5);
    content: " -o-<{[ "
}

nav ul li.active::after {
    color: rgba(0,0,0, 0.5);
    content: " ]}>-o- "
}

a {
    font-weight: 900;
    color: black;
    text-decoration: none;
}
a:hover { text-decoration: underline; }

.log-date { color: rgba(0,0,0,0.5); }
.log-license { color: rgba(200,200,0,0.75); }